<div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to Rails Youtube</h1>
        <p class="lead">
          <a class="btn btn-light btn-lg" href="#contact" role="button" id="contact-btn">Contact</a>
        </p>
        <p class="lead">
          Thưởng thức video và nhạc bạn yêu thích, tải nội dung do bạn sáng tạo lên và chia sẻ nội dung đó với gia đình, bạn bè cũng như mọi người trên <i>Rails Youtube</i>.
        </p>
        <p>
          <%= image_tag "preview.jpg" %>
        </p>
        <hr class="my-4">
      </div>
    </div>
   
    
    <hr class="my-4">
    <div class="jumbotron" id="contact">
        <p>
            Hello, this is group 5.
        </p>
      </div>
  </div>
</div>