<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <%= link_to "Rails Youtube", root_path, class: "navbar-brand" %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    
</div>
<ul class="navbar-nav">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= button_to 'Sign In', new_user_session_path, class: 'nav-link' %>
    </li>
  <% end %>
</ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to Rails Youtube</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-light btn-lg" href="#contact" role="button" id="contact-btn">Contact</a>
        </p>
      </div>
    </div>
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    lorem ipsum dolor sit amet<br>
    
    <hr class="my-4">
    <div class="jumbotron" id="contact">
        <p>
            Hello, this is group 5.
        </p>
      </div>
  </div>
</div>